.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: 270px;
  margin-right: 270px;
}

.right {
  display: flex;
  gap: 30px;
}
.link:hover {
  color: black;
}
.link {
  color: gray;
}

.herosection {
  background-image: url("./images/lawyer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 82%;
  position: relative;
}

.signup {
  background-color: rgba(26, 58, 91, 1);
  width: 280px;
  height: 340px;
  padding: 50px;
  position: relative;
  top: 140px;
  left: 260px;
}

.signup h1 {
  color: white;
}

.small-white {
  color: white;
}

.small-yellow {
  color: yellow;
  padding-bottom: 15px;
}
.signup input {
  width: 90%;
  padding: 10px;
  margin: 20px 0;
}

.signup button {
  width: 60%;
  padding: 10px;
  background-color: yellow;
  color: black;
  border: none;
}

.feature {
  background-color: white;
  align-items: center;
  display: flex;
  padding: 150px;
  gap: 70px;
}

.quote {
  background-color: rgba(244, 244, 244, 1);
  padding: 150px;
  text-align: center;
}
.price {
  background-image: url("./images/glasses.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.price-panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  padding: 150px;
  background-color: rgba(255, 255, 255, 0.9);
}
.price-title {
  width: 100%;
  text-align: center;
}

.price-plan {
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center the children horizontally */
  align-items: center; /* Center the children vertically */
  gap: 50px; /* Optional: Adds space between the children */
}
.card {
  background-color: wheat;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card button {
  background-color: rgba(25, 58, 92, 1);
  color: white;
  padding: 10px;
  border-color: rgba(25, 58, 92, 1);
}

.card-heading {
  padding-bottom: 20px;
}

.try {
  height: 50%;
  background-image: url("./images/notebook.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.try-panel {
  background-color: rgba(22, 48, 74, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.try-heading {
  color: white;
}

.try-text {
  color: white;
}

.try-button {
  text-align: center;
  background-color: rgba(245, 222, 66, 1);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 40px;
}

.contact {
  background-color: rgba(27, 33, 45, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.company {
  color: white;
  padding-top: 50px;
}
.address {
  color: grey;
  padding-bottom: 50px;
}

.contact img {
  width: 30px;
  height: 30px;
  margin: 10px;
}
