span {
  color: red;
}

.form-group {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  margin-bottom: 0px;
}

form {
  align-self: stretch;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 16px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding-bottom: 0;
  padding-top: 14px;
}

#heading1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#hr {
  visibility: visible;
}

.horizontal {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
#hor1 {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}

#clear {
  background-color: #f8f8f8;
  border: 1.5px solid #989898;
  color: #777777;
}
.myAlert {
  display: none;
  color: red;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.groups {
  width: 90%;
  gap: 0px;
  padding-bottom: 20px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 14px;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 1px solid #989898;
}
#third-row {
  display: grid;
  grid-template-columns: 25% 30%;
  align-items: center;
  margin-bottom: 0px;
}
#checkbox:checked {
  background-color: #d9a700;
}

#nav {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 60px;
}

a {
  cursor: pointer;
}

#fav-table {
  display: flex;
  align-self: stretch;
  margin-left: 5%;
  margin-right: 5%;
}

#hor2 {
  /* display: none; */
  transition: transform 0.5s ease; /* Smooth sliding transition */
}
#results-tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: stretch;
}

#tabs {
  align-self: stretch;
}
.nav {
  justify-content: flex-end;
}

#page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#warning {
  display: flex;
  align-self: stretch;
  margin-left: 5%;
  margin-right: 5%;
}
#danger {
  display: flex;
  align-self: stretch;
  margin-left: 5%;
  margin-right: 5%;
}

.table {
  align-self: stretch;
}

#search-text {
  color: white;
  margin-left: -5px;
}
#clear-text {
  color: #777777;
  margin-left: -2px;
}

#clear-img {
  transform: scaleX(-1);
}

#favorite-icon {
  width: 48px;
}

.view {
  align-self: stretch;
}

.status {
  display: flex;
  flex-direction: row;

  align-items: center;
}
.status > img {
  width: 32px;
  height: 32px;
}

.in {
  transform: translateX(-100vw);
}
.out {
  transform: translateX(0vw);
}

#details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.stretch {
  width: 100vw;
  padding-left: 5%;
  padding-right: 5%;
}
.panel {
  /* padding-left: 5%;
  padding-right: 5%; */
}
.clickable {
  cursor: pointer;
}
.none {
  display: none;
}

#prev {
  border: 1px solid #989898;
  border-radius: 4px;
  height: 32px;
  margin-bottom: 5px;
  width: 70px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}
#prev-img {
  width: 16px;
  height: 16px;
}

#twitter {
  border: 1px solid #989898;
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 4px;
}
#twitter-img {
  width: 32px;
  height: 32px;
}
#heading2 {
  font-size: 24px;
  margin-bottom: 20px;
  align-self: center;
}

#hor2 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

@media (max-width: 1024px) {
  form {
    margin: 16px 8px;
    margin-bottom: 0px;
    padding-bottom: 0;
  }
  #results {
  }
  .stretch {
    padding-left: 8px;
    padding-right: 8px;
  }

  .form-group {
    grid-template-columns: 100%;
    gap: 0px;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 0;
  }
  #third-row {
    grid-template-columns: 100%;
  }

  .groups {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 0;
    padding-right: 0;
  }

  .form-control {
    left: 0;
    width: 100%;
  }
  label {
    margin-bottom: 0;
  }

  #warning {
    margin-left: 8px;
    margin-right: 8px;
  }
  #danger {
    margin-left: 8px;
    margin-right: 8px;
  }
}
