body {
  background-color: rgb(229, 229, 229);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: "Helvetica", sans-serif;
}

.search-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-subtitle {
  font-weight: 400;
  color: rgb(75, 79, 82);
  font-size: 16px;
}

.search-heading > b {
  color: rgb(75, 79, 82);
  font-size: 20px;
  font-weight: 500;
}

.banner {
  background-image: url("./Images/banner.jpg");
  background-position: left -45px top -72px;
  background-repeat: no-repeat;
  background-size: 260%;
  display: flex;
  flex-direction: column;
  width: 30vw;
  gap: 20px;
  padding: 30px 30px 20px 30px;
  border: 1px solid rgb(202, 202, 202);
}

.search-input {
  background-color: rgb(254, 254, 254);
  padding: 20px 30px 30px 30px;
  width: 30vw;
  color: rgb(91, 112, 172);
  border-left: 1px solid rgb(202, 202, 202);
  border-right: 1px solid rgb(202, 202, 202);
  border-top: none;
  border-bottom: 3px solid rgb(202, 202, 202);
}

.asterisk {
  color: rgb(249, 155, 185);
}

.first-row {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 8px;
  color: rgb(91, 112, 172);
  font-size: 13px;
}

.second-row {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: rgb(91, 112, 172);
}

.second-row-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 8px;
  color: rgb(91, 112, 172);
  font-size: 13px;
  flex-grow: 0.4;
}

.second-row-right {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 8px;
  color: rgb(91, 112, 172);
  font-size: 13px;
  flex-grow: 1;
}

#street {
  height: 24px;
  width: 100%;
  border: solid 1px rgb(202, 202, 202);
  padding-left: 5px;
}

#city {
  border: solid 1px rgb(202, 202, 202);
  height: 24px;
  padding-left: 5px;
}

select {
  width: 100%;
}
.third-row {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(91, 112, 172);
}
#tooltip-state {
  display: flex;
}

.fourth-row {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  font-weight: 100;
}
#search {
  padding: 12px 20px;
  background-color: rgb(85, 110, 168);
  color: white;
  text-align: center;
  border: none;
  border-bottom: 4px solid rgb(60, 77, 119);
}

#search:hover {
  padding: 12px 20px;
  background-color: rgb(97, 122, 168);
  color: white;
  text-align: center;
  border-bottom: 4px solid rgb(60, 77, 119);
}

#clear {
  padding: 12px 24px;
  background-color: rgb(252, 185, 12);
  color: white;
  text-align: center;
  border: none;
  border-bottom: 4px solid rgb(248, 140, 7);
}
#clear:hover {
  padding: 12px 24px;
  background-color: rgb(242, 160, 27);
  color: white;
  text-align: center;
  border-bottom: 4px solid rgb(248, 140, 7);
}

.hidden1 {
  margin-top: 20px;
}

.card {
  background-color: rgb(254, 254, 254);
  display: flex;
  flex-direction: column;
  width: 45vw;
  padding: 15px 30px 25px 25px;
  color: rgb(116, 116, 116);
  border: 2px solid rgb(202, 202, 202);
  border-bottom: 3px solid rgb(187, 179, 179);
}

.card:hover {
  box-shadow: 0px 0px 0px rgba(202, 202, 202, 0.2),
    /* left shadow */ 0px 0px 0px rgba(202, 202, 202, 0.2),
    /* right shadow */ 0px 3px 5px rgba(0, 0, 0, 0.3); /* bottom shadow */
}

#card-second-row {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 220px;
  font-size: 18px;
  margin-left: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: rgb(254, 254, 254);
  justify-content: space-between;
  margin-top: 40px;
}

.info img {
  width: 32px;
  height: 32px;
}

.info-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

#location {
  text-align: left;
  font-size: 24px;
  font-weight: 100;
}

#current-img {
  width: 120px;
  height: 120px;
}

#weather-combo {
  gap: 15px;
}

[class^="horizontal"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#temperature {
  font-size: 120px;
  color: rgb(135, 135, 135);
  font-weight: 100;
}

#header {
  background-color: rgb(85, 110, 168);
  padding: 10px;
  width: 80vw;
}

.horizontalRow {
  background-color: rgb(254, 254, 254);
  width: 80vw;
  padding: 20px;
}

[id^="status"] {
  align-items: center;
}

.daily-card {
  background: linear-gradient(to bottom, white, rgb(64, 81, 125));
  width: 33vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  border: 1px solid rgb(202, 202, 202);
  border-bottom: 2px solid rgb(202, 202, 202);
}

.daily-card:hover {
  box-shadow: 1px 2px 3px rgba(202, 202, 202, 0.2),
    /* left shadow */ 1px 2px 3px rgba(202, 202, 202, 0.2),
    /* right shadow */ 2px 5px 8px rgba(0, 0, 0, 0.3); /* bottom shadow */
}

.daily-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.weather-charts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.center-heading {
  font-size: 36px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  width: 70vw;
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: 32px;
}
th {
  background-color: rgb(85, 110, 168);
  color: rgb(48, 59, 69);
  font-size: 16px;
  padding: 15px;
  font-weight: normal;
}
td {
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  color: rgb(50, 50, 50);
  font-weight: 400;
  font-size: 15px;
}

tbody {
  background-color: rgb(254, 254, 254);
}

[id^="status-img"] {
  width: 60px;
  height: 60px;
}

#container1 {
  height: 300px;
  width: 800px;
}

#container2 {
  width: 800px;
  height: 400px;
}

#loading {
  margin-top: 100px;
  text-align: center;
}

#toggleArrow {
  width: 40px;
  height: 40px;
}

.clickable {
  cursor: pointer;
}
#daily-img {
  width: 150px;
  height: 150px;
}

#white-text {
  display: grid;
  grid-template-columns: auto 1fr;
  color: white;
  gap: 10px;
  font-size: 18px;
  margin-top: 30px;
  font-weight: 500;
}

#detail-first-row {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

#detail-first-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 20px;
  color: rgb(52, 76, 121);
}

#daily-date {
  font-size: 24px;
}

#daily-weather {
  font-size: 24px;
}

#daily-temp {
  font-size: 32px;
}

#head {
  margin-top: 45px;
  margin-bottom: 0px;
}

.hor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.label {
  justify-self: end;
  font-size: 17px;
  font-weight: 400;
}

.value2 {
  justify-self: start;
  font-size: 21px;
  font-weight: 500;
}

#chart1 {
  margin-top: -20px;
}
#chart2 {
  margin-top: 40px;
  margin-bottom: 30vh;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgb(235, 235, 235);
  color: #000000;
  text-align: center;
  font-size: 11px;
  border-radius: 20px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  border: 0.5px solid rgb(195, 195, 195);
  width: 80px;
}
.tooltip .tooltiptext::before,
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
}
.tooltip .tooltiptext::before {
  border-color: rgba(195, 195, 195, 0);
  border-top-color: rgb(195, 195, 195);
  border-width: 11px;
  margin-left: -11px;
}
.tooltip .tooltiptext::after {
  border-color: rgba(235, 235, 235, 0);
  border-top-color: rgb(235, 235, 235);
  border-width: 10px;
  margin-left: -10px;
}
.show-tooltip .tooltiptext {
  visibility: visible;
  opacity: 1;
}
